@import "tailwindcss";

.gradient-bg {
  background: linear-gradient(
    to bottom right,
    hsl(217, 91%, 10%),
    hsl(222, 47%, 11%)
  );
}

.gradient-text {
  background: linear-gradient(to right, #3b82f6, #60a5fa, #93c5fd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background_line1,
.background_line2 {
  position: fixed;
  height: 100dvh;
  top: 0;
  background-color: rgb(213, 235, 247);
  transform: skew(-15deg) translateY(-100%);
  z-index: -20;
  opacity: 0.5;
}

.background_line1 {
  width: 5px;
  right: 25%;
  animation: fadeInLine 1.5s 1s forwards ease;
}

.background_line2 {
  width: 2px;
  right: 10%;
  animation: fadeInLine 1.5s 1.6s forwards ease;
}

@keyframes fadeInLine {
  0% {
    filter: blur(0.5rem);
  }
  20% {
    transform: skew(-15deg) translateY(0);
  }
  40% {
    filter: blur(0.5rem);
  }
  70% {
    filter: blur(0.8rem);
  }
  100% {
    filter: blur(0.3rem);
    transform: skew(-15deg) translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
    filter: blur(0.7rem);
  }
  60% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes increase-box-shadow {
  50% {
    box-shadow: 0px 0px 100px white;
  }
}

@keyframes increase-text-shadow {
  100% {
    text-shadow: 0 0 20px rgba(0, 238, 255, 0.7);
  }
}

.title {
  border-radius: 10px;
  padding: 5px 0px;
  animation: increase-box-shadow 1.5s 3.4s ease-out,
    increase-text-shadow 1s 6.5s linear forwards;
}

@keyframes fadeInHeader {
  from {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes aparecer-sombra {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 10px 40px rgba(59, 130, 246, 0.5);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(59, 130, 246, 0.3);
  }
}

header {
  animation: fadeInHeader 1s ease-in 5s backwards;
}

header > nav > ul {
  animation: aparecer-sombra 1s ease-out 6.5s forwards;
}

body {
  overflow-x: hidden;
}

main {
  animation: fadeIn 1.5s ease-in backwards;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinning-div {
  animation: fadeInHeader 1s ease-in 6.2s backwards, spin 8s linear infinite;
  filter: blur(64px);
}

.glow-effect {
  scale: 0 1;
}

.contact-input:focus ~ .glow-effect {
  transform-origin: left;
  scale: 1 1;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.visible {
  animation: slideFromRight 1s ease forwards;
}

.visible-left {
  animation: slideFromLeft 1s ease forwards;
}

.contact-input:focus ~ .glow-effect {
  transform-origin: left;
  scale: 1 1;
}

.submit-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: all 0.4s ease;
}

.submit-button:hover:before {
  left: 100%;
}
