@import "tailwindcss";

.gradient-bg {
  background: linear-gradient(
    to bottom right,
    hsl(217, 91%, 10%),
    hsl(222, 47%, 11%)
  );
}

.gradient-text {
  background: linear-gradient(to right, #3b82f6, #60a5fa, #93c5fd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header.navbar {
  animation: fadeInHeader 1s ease-in 5s backwards;
}

@keyframes fadeInHeader {
  from {
    opacity: 0;
  }
}

header.navbar > nav > ul {
  animation: shadowAppear 1s ease-out 6.5s forwards;
}

@keyframes shadowAppear {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 10px 40px rgba(59, 130, 246, 0.5);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(59, 130, 246, 0.3);
    pointer-events: all;
  }
}

body {
  overflow-x: hidden;
}

.main-content {
  animation: fadeInContent 800ms ease-in;
}

@keyframes fadeInContent {
  0% {
    opacity: 0.3;
    filter: blur(0.7rem);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.visible {
  animation: slideInFromRight 1s ease forwards;
}

.visible-left {
  animation: slideInFromLeft 1s ease forwards;
}
