@import "tailwindcss";

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
.shiny-text {
  color: transparent;
  background: linear-gradient(100deg, #2b7fff, #2b7fff, #fff, #2b7fff, #2b7fff);
  background-size: 200% 100%;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 4s linear infinite;
}

.gradient-text {
  background: linear-gradient(to right, #3b82f6, #60a5fa, #93c5fd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header.navbar {
  animation: fadeInHeader 1s ease-in 4s backwards;
}

@keyframes fadeInHeader {
  from {
    opacity: 0;
  }
}

header.navbar > nav > ul {
  animation: shadowAppear 1s ease-out 5.5s forwards;
}

@keyframes shadowAppear {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 10px 40px rgba(59, 130, 246, 0.5);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(59, 130, 246, 0.3);
    pointer-events: all;
  }
}

body {
  overflow-x: hidden;
}

#home {
  animation: fadeInContent 800ms ease-in;
}

@keyframes fadeInContent {
  0% {
    opacity: 0.3;
    filter: blur(0.7rem);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .visible {
    animation: slideInFromRight 1s ease forwards;
  }

  .visible-left {
    animation: slideInFromLeft 1s ease forwards;
  }
}

.tab-switcher::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #155dfc,
    #fff,
    #155dfc,
    #0a0b15,
    #155dfc,
    #155dfc,
    #155dfc,
    #0a0b15,
    #155dfc,
    #fff
  );
  background-size: 800%;
  border-radius: calc(infinity * 1px);
  filter: blur(5px);
  animation: glowing 40s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
