---
import Layout from "../layouts/Layout.astro";
import { Header } from "../components/Header";
import Footer from "../components/Footer.astro";
import Skills from "../components/Skills.jsx";
import Contact from "../components/Contact.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <Header client:load />
  <div class="background_line1"></div>
  <div class="background_line2"></div>
  <main class="max-w-4xl mx-auto flex flex-col gap-5">
    <section>
      <h2 class="text-5xl font-bold">Rolando Uzcátegui</h2>
      <h3 class="text-4xl font-medium text-cyan-500">
        <span class="title">Desarrollador Web</span>
      </h3>
      <h5 class="opacity-80">Enfocado en calidad, funcionalidad y diseño.</h5>
    </section>
    <section id="about" class="scroll-mt-20">
      <h2 class="text-3xl font-bold tracking-tighter gradient-text">
        Sobre Mí
      </h2>
      <p>
        Mi nombre es Rolando Uzcátegui me dedico a crear <b>soluciones</b> a través
        de mi pasión, la programación, mas específicamente, el <b
          >desarrollo web</b
        >
      </p>
      <p>
        Me encanta trabajar con <b>tecnologías modernas</b> y aprender nuevas herramientas
        para perfeccionar mi trabajo. Actualmente, utilizo tecnologías como JavaScript,
        React, Python y Django para construir <b>aplicaciones funcionales</b> y atractivas.
      </p>
      <p>
        Soy estudiante de <b>Ciencias de la Computación</b> en la Universidad Central
        de Venezuela (UCV), la mejor universidad del país, donde he podido desarrollar
        no solo habilidades técnicas, sino también una <b
          >sólida ética de trabajo</b
        >.
      </p>
      <p>
        Durante mi tiempo de estudio he aprendido a trabajar en equipo, ser
        responsable y adaptarme a diferentes escenarios. Creo firmemente que la
        <b>colaboración</b> y la <b>comunicación efectiva</b> son la clave del éxito
        en cualquier proyecto.
      </p>
    </section>
    <Projects />
    <Skills />
    <Contact />
  </main>
  <Footer />
</Layout>
