---
import { User } from "lucide-react";

const { t } = Astro.props as { t: Function };
---

<section
  id="about"
  class="project-section scroll-mt-5 md:scroll-mt-24 opacity-0"
  data-animation="visible"
  aria-label={t("about.title")}
>
  <h2 class="text-3xl font-bold tracking-tighter shiny-text">
    {t("about.title")}
    <User className="inline size-7 text-blue-400 ml-1 mb-1.5" />
  </h2>
  <div class="*:my-[1lh]">
    <p>{t("about.p1")}</p>
    <p>{t("about.p2")}</p>
    <p>{t("about.p3")}</p>
    <p>{t("about.p4")}</p>
  </div>
</section>
