---
import { User } from "lucide-react";
---

<section
  id="about"
  class="project-section scroll-mt-5 md:scroll-mt-24 opacity-0"
  data-animation="visible"
  aria-label="Sobre Mí"
>
  <h2 class="text-3xl font-bold tracking-tighter gradient-text">
    Sobre Mí
    <User className="inline size-7 text-blue-400 ml-1 mb-1.5" />
  </h2>
  <div class="*:my-[1lh]">
    <p>
      Mi nombre es Rolando Uzcátegui me dedico a crear <b class="text-blue-400"
        >soluciones</b
      > a través de mi pasión, la programación, mas específicamente, el <b
        class="text-blue-400">desarrollo web</b
      >.
    </p>
    <p>
      Me encanta trabajar con <b class="text-blue-400">tecnologías modernas</b> y
      aprender nuevas herramientas para perfeccionar mi trabajo. Actualmente, utilizo
      tecnologías como JavaScript, React, Python y Django para construir <b
        class="text-blue-400">aplicaciones funcionales</b
      > y atractivas.
    </p>
    <p>
      Soy estudiante de <b class="text-blue-400">Ciencias de la Computación</b> en
      la Universidad Central de Venezuela (UCV), la mejor universidad del país, donde
      he podido desarrollar no solo habilidades técnicas, sino también una <b
        class="text-blue-400">sólida ética de trabajo</b
      >.
    </p>
    <p>
      Durante mi tiempo de estudio he aprendido a <b class="text-blue-400"
        >trabajar en equipo</b
      >, ser responsable y adaptarme a diferentes escenarios. Creo firmemente
      que la
      <b class="text-blue-400">colaboración</b> y la comunicación efectiva son la
      clave del éxito en cualquier proyecto.
    </p>
  </div>
</section>
