---

---

<div class="background_line1"></div>
<div class="background_line2"></div>
<div
  class="bg-[#66E3FF] w-[200px] h-[200px] fixed left-1/5 top-0 origin-bottom-right animate-spin [animation-duration:10s] blur-3xl opacity-15 -z-50"
>
</div>
<div
  class="bg-[#6347A4] w-[200px] h-[200px] fixed left-1/5 bottom-0 origin-top-left animate-spin [animation-duration:10s] blur-3xl opacity-15 -z-50"
>
</div>
<div
  class="bg-[#93DA33] w-[200px] h-[200px] fixed left-1/3 bottom-1/2 origin-bottom animate-spin [animation-duration:10s] blur-3xl opacity-15 -z-50"
>
</div>
