---
import { Download, Send, Github, Linkedin, Mail } from "lucide-react";
---

<section
  id="home"
  class="project-section scroll-mt-28 min-h-[100dvh] md:min-h-[calc(100dvh-48px)] md:mt-12 flex items-center"
>
  <div class="w-full flex flex-col gap-8">
    <div>
      <h1 class="text-7xl font-bold pr-20">Rolando Uzcátegui</h1>
      <h2 class="text-6xl font-medium">
        <span class="title tracking-tighter gradient-text"
          >Desarrollador Web</span
        >
      </h2>
      <h4 class="mt-1 text-2xl opacity-90 text-blue-200">
        Enfocado en calidad, funcionalidad y diseño.
      </h4>
    </div>
    <p class="w-full sm:w-2/3 text-xl text-pretty">
      Diseño experiencias digitales elegantes y eficientes, combinando
      innovación, calidad e impacto.
    </p>
    <div
      class="flex gap-10 *:bg-[linear-gradient(145deg,#1e293b80,#1e293b33)] *:border *:border-[#1447e660] *:hover:border-blue-500 *:cursor-pointer *:hover:-translate-y-0.5 *:rounded-xl *:p-2.5 *:hover:shadow-[0px_0px_20px_#2b7fff] *:transition *:duration-300"
    >
      <a
        class="contact-item"
        href="https://github.com/RolandoU548"
        target="_blank"
      >
        <Github />
      </a>
      <a
        class="contact-item"
        href="https://www.linkedin.com/in/rolando-uzc%C3%A1tegui/"
        target="_blank"
      >
        <Linkedin />
      </a>
      <a class="mail-bubble contact-item" href="mailto:rolandou548@gmail.com">
        <Mail />
      </a>
    </div>
    <div class="flex gap-5">
      <a
        href="https://drive.google.com/file/d/1_S55-UcBBiTosUd2kzm4zqRTNA4u_2P2/view"
        target="_blank"
        class="relative inline-block text-lg outline outline-blue-600 py-3 w-44 hover:bg-[rgba(0,0,0,0.3)] rounded-xl font-semibold overflow-hidden transition-all duration-300 ease-out hover:scale-105 hover:outline-blue-500 hover:shadow-[0_4px_15px_rgba(0,_114,_255,_0.7)] text-center before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-transparent before:via-white/20 before:to-transparent before:transition-all before:duration-300 before:ease-in-out hover:before:left-full"
      >
        <Download
          className="mr-1 size-5 inline-block animate-[bounce_2000ms_ease-in-out_infinite]"
        />
        Descargar CV
      </a>
      <a href="#contact" class="relative block w-48 font-semibold"
        ><div
          class="parent absolute w-full h-[52px] hover:scale-105 bg-blue-600 hover:bg-blue-500 text-white text-xl rounded-xl overflow-hidden transition-all duration-300 ease-out flex items-center justify-center gap-1 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-transparent before:via-white/20 before:to-transparent before:transition-all before:duration-300 before:ease-in-out hover:before:left-full"
        >
          <Send className="size-5" />
          Contáctame
        </div>
        <div
          class="left-shadow absolute w-full top-0 left-0 h-14 rounded-xl -z-10 bg-gradient-to-l from-transparent to-blue-500 scale-110 blur-sm opacity-0"
        >
        </div>
        <div
          class="right-shadow absolute w-full top-0 left-0 h-14 rounded-xl -z-10 bg-gradient-to-r from-transparent to-blue-500 scale-110 blur-sm opacity-60"
        >
        </div>
      </a>
    </div>
  </div>
</section>

<style>
  @keyframes pulseBoxShadow {
    50% {
      box-shadow: 0px 0px 100px white;
    }
  }

  @keyframes glowText {
    50% {
      text-shadow: 0 0 30px rgb(0, 183, 255);
    }
    100% {
      text-shadow: 0 0 20px rgba(0, 183, 255, 0.7);
    }
  }

  .title {
    border-radius: 10px;
    padding: 5px 0px;
    animation:
      pulseBoxShadow 1.5s 2.7s ease-out,
      glowText 1s 5.5s linear forwards;
  }

  .right-shadow {
    animation: fadeInHeader 0.5s ease-in 5.5s backwards;
  }

  @keyframes aparecerSombra {
    0% {
      box-shadow: none;
    }
    100% {
      box-shadow: 0px 0px 20px rgba(43, 127, 255, 0.31);
    }
  }

  .contact-item {
    animation: aparecerSombra 1s 5s ease-in forwards;
  }
</style>

<script>
  const parent = document.querySelector(".parent") as HTMLElement | null;
  const rightShadow = document.querySelector(
    ".right-shadow"
  ) as HTMLElement | null;
  const leftShadow = document.querySelector(
    ".left-shadow"
  ) as HTMLElement | null;

  if (parent && rightShadow && leftShadow) {
    parent.addEventListener("mousemove", (event: MouseEvent) => {
      const rect = parent.getBoundingClientRect();
      const mouseX = event.clientX - rect.left;

      const porcentajeMouseX = mouseX / rect.width;
      rightShadow.style.opacity = `${porcentajeMouseX}`;
      leftShadow.style.opacity = `${1 - porcentajeMouseX}`;
    });
  }
</script>
