---
import { Download } from "lucide-react";
---

<section id="home" class="project-section scroll-mt-28">
  <h2 class="text-7xl font-bold pr-20">Rolando Uzcátegui</h2>
  <h3 class="text-6xl font-medium text-cyan-500">
    <span class="title tracking-tighter gradient-text">Desarrollador Web</span>
  </h3>
  <h5 class="text-lg opacity-90 text-blue-200">
    Enfocado en calidad, funcionalidad y diseño.
  </h5>
  <a
    href="https://drive.google.com/file/d/1_S55-UcBBiTosUd2kzm4zqRTNA4u_2P2/view"
    target="_blank"
    class="mt-10 text-lg text-center mx-auto bg-blue-600 py-3 px-5 rounded-xl font-semibold transition-all duration-300 ease-out hover:-translate-y-0.5 hover:shadow-[0_4px_15px_rgba(0,_114,_255,_0.7)] relative inline-block overflow-hidden before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-transparent before:via-white/20 before:to-transparent before:transition-all before:duration-300 before:ease-in-out hover:before:left-full hover:bg-blue-500"
  >
    <Download
      className="mr-1 size-5 inline-block animate-[bounce_1500ms_ease-in-out_infinite]"
    />
    Descargar CV
  </a>
</section>
