---

---

<section id="home" class="scroll-mt-28">
  <h2 class="text-6xl font-bold">Rolando Uzcátegui</h2>
  <h3 class="text-5xl font-medium text-cyan-500">
    <span class="title tracking-tighter gradient-text">Desarrollador Web</span>
  </h3>
  <h5 class="opacity-80 text-blue-200">
    Enfocado en calidad, funcionalidad y diseño.
  </h5>
</section>
