<div class="tabs">
  <div class="tab-buttons *:p-4">
    <button data-tab="tab1" class="bg-blue-500">Tab 1</button>
    <button data-tab="tab2">Tab 2</button>
    <button data-tab="tab3">Tab 3</button>
  </div>
  <div class="tab-content">
    <div id="tab1">Contenido de la pestaña 1</div>
    <div id="tab2" class="hidden">Contenido de la pestaña 2</div>
    <div id="tab3" class="hidden">Contenido de la pestaña 3</div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".tab-buttons button");
    const contents = document.querySelectorAll(".tab-content div");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const selectedTab = button.getAttribute("data-tab") as string;

        buttons.forEach((btn) => btn.classList.remove("bg-blue-500"));
        contents.forEach((content) => content.classList.add("hidden"));

        button.classList.add("bg-blue-500");
        const tabContent = document.getElementById(selectedTab);
        tabContent?.classList.remove("hidden");
      });
    });
  });
</script>
