---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div class="h-full font-sans">
  <img
    class="fixed top-0 left-0 w-full h-full -z-10 blur-[100px]"
    src={background.src}
    fetchpriority="high"
  />
  <main class="h-full flex justify-center">
    <section class="snap-y snap-mandatory overflow-y-scroll h-[100vh] px-20">
      <article class="snap-start h-[100dvh] flex justify-center items-center">
        <a href="https://astro.build"
          ><img
            src={astroLogo.src}
            width="115"
            height="48"
            alt="Astro Homepage"
          /></a
        >
      </article>

      <article
        class="snap-start h-[100dvh] flex flex-col justify-center gap-5 text-3xl"
      >
        <h1 class="text-xl bold text-[#5a67d8]">
          <code><pre>Desarrollador Web</pre></code>enfocado en calidad,
          funcionalidad y diseño.
        </h1>
        <p>
          Mi nombre es PEPE LE PEIU me dedico a crear <b>soluciones</b> a través
          de mi pasión, la programación, mas específicamente, el <b
            >desarrollo web</b
          >
        </p>
        <p>
          Me encanta trabajar con <b>tecnologías modernas</b> y aprender nuevas herramientas
          para perfeccionar mi trabajo. Actualmente, utilizo tecnologías como JavaScript,
          React, Python y Django para construir <b>aplicaciones funcionales</b> y
          atractivas.
        </p>
        <p>
          Soy estudiante de <b>Ciencias de la Computación</b> en la Universidad Central
          de Venezuela (UCV), la mejor universidad del país, donde he podido desarrollar
          no solo habilidades técnicas, sino también una <b
            >sólida ética de trabajo</b
          >.
        </p>
        <p>
          Durante mi tiempo de estudio he aprendido a trabajar en equipo, ser
          responsable y adaptarme a diferentes escenarios. Creo firmemente que
          la
          <b>colaboración</b> y la <b>comunicación efectiva</b> son la clave del
          éxito en cualquier proyecto.
        </p>
      </article>
    </section>
    <section class="flex gap-4">
      <a
        class="flex items-center p-3"
        class="button"
        href="https://drive.google.com/file/d/1REJijfqdRFMZ0RRUPOQyyDvodPNrJC3f/view?pli=1"
        target="_blank">MI CURRICULUM</a
      >
    </section>
    <img src="crossed_arms.png" class="-scale-x-100" />
  </main>

  <a href="https://astro.build/blog/astro-5/" id="news" class="box">
    <svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M24.667 12c1.333 1.414 2 3.192 2 5.334 0 4.62-4.934 5.7-7.334 12C18.444 28.567 18 27.456 18 26c0-4.642 6.667-7.053 6.667-14Zm-5.334-5.333c1.6 1.65 2.4 3.43 2.4 5.333 0 6.602-8.06 7.59-6.4 17.334C13.111 27.787 12 25.564 12 22.666c0-4.434 7.333-8 7.333-16Zm-6-5.333C15.111 3.555 16 5.556 16 7.333c0 8.333-11.333 10.962-5.333 22-3.488-.774-6-4-6-8 0-8.667 8.666-10 8.666-20Z"
        fill="#111827"></path></svg
    >
    <h2>What's New in Astro 5.0?</h2>
    <p>
      From content layers to server islands, click to learn more about the new
      features and improvements in Astro 5.0
    </p>
  </a>

  <style>
    #links a {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      color: #111827;
      text-decoration: none;
      transition: color 0.2s;
      text-align: center;
      font-weight: 600;
    }

    #links a:hover {
      color: rgb(78, 80, 86);
    }

    #links a svg {
      height: 1em;
      margin-left: 8px;
    }

    #links a.button {
      color: white;
      background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
      box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.12),
        inset 0 -2px 0 rgba(0, 0, 0, 0.24);
      border-radius: 10px;
    }

    #links a.button:hover {
      color: rgb(230, 230, 230);
      box-shadow: none;
    }

    pre {
      font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
        Consolas, "DejaVu Sans Mono", monospace;
      font-weight: normal;
      background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin: 0;
    }

    h2 {
      margin: 0 0 1em;
      font-weight: normal;
      color: #111827;
      font-size: 20px;
    }

    p {
      color: #4b5563;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.006em;
      margin: 0;
    }

    code {
      display: inline-block;
      background:
        linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
        linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 6px 8px;
    }

    .box {
      padding: 16px;
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      border: 1px solid white;
    }

    #news {
      position: absolute;
      bottom: 16px;
      right: 16px;
      max-width: 300px;
      text-decoration: none;
      transition: background 0.2s;
      backdrop-filter: blur(50px);
    }

    #news:hover {
      background: rgba(255, 255, 255, 0.55);
    }

    @media screen and (max-height: 368px) {
      #news {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      #container {
        display: flex;
        flex-direction: column;
      }

      #hero {
        display: block;
        padding-top: 10%;
      }

      #links {
        flex-wrap: wrap;
      }

      #links a.button {
        padding: 14px 18px;
      }

      #news {
        right: 16px;
        left: 16px;
        bottom: 2.5rem;
        max-width: 100%;
      }

      h1 {
        line-height: 1.5;
      }
    }
  </style>
</div>
